.bar {
 &__horizontal {
  position: fixed;
    bottom: 1rem;
    left: 2rem;
    width: 20vw;
    height: 10vh;
    z-index: 100;
 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.8);
    
    border-radius: 2rem;
  
    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;
  
      li {
        list-style: none;
        
  
        a {
          color: #fff;
          text-decoration: none;
  
          i {
            font-size: 3rem;
          }
        }
      }
      
    }
    @media (max-width: 770px) {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
      background-color: rgba(255, 255, 255, 0.8);
      border-radius: 2rem; 
    }

    &-initial {
      @media (max-width: 770px) {
      position: fixed;
      top: 3rem;
      width: 43vw;
      left: 15rem;
      transition: 500ms;
      }
    }

    &-scrolled {
      @media (max-width: 770px) {
        display: flex;
      flex-direction: column;
      transform: translateY(90%);
      gap: 1rem;
      width: 4rem;
      height: 10rem;
      z-index: 100;
      transition: 500ms;
      left: 1rem;
      bottom: 10rem;
      }
    }
 } 
    &__social-vertical {
      @include bar-styling;
    flex-direction: column;
    z-index: 100;
    padding: 2rem;
    padding-left: 1rem;
    top: 10rem;
    left: 1rem;
    height: 35vh;
    width: 2vw;
    
    .social-icon {
      text-align: center;
      margin: 1rem 0;
      padding: 1rem 0;
      color: #333;
      
      &.fa {
        font-size: 2rem;
        margin-bottom: 0 1rem;
      }
    }
    }
}
 
  


  

.name-img {
    
    max-width: 10rem;
    height: auto;
    position: fixed;
    margin: 0 auto;

  
}

.name {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.8);
  z-index: 200;
  @media (max-width: 480) {
    max-width: 3rem;
    //fit image to container
    height: auto;
   
}
}
  

